*{
    padding: 0;
    margin: 0;
    color: orangered;
}
#navbar{
    height: 60px;
    background-color: hsl(0, 0%, 0%);
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border: radius 200px;
}
button{
    background-color: orange;
}
#logo{
    color: orange;
}
a {
    margin-right: 200px;
}
footer{
    color: rgb(255, 255, 255);
    background-color: black;
    text-align: center;
    position: relative;
    top: 500px;

}
#box1{
    background-color: black;
    height: 200px;
    width: 200px;
    border: 2px solid white;
    position: static;
    display: inline-block;
    position: relative;
    top: 200px;

} 
#box2{
    background-color: black;
    height: 200px;
    width: 200px;
    border: 2px solid white;
    position: static;
    display: inline-block;
    position: relative;
    top: 200px;
   
   
}
#media{ height: 400px;
width: 400px;
background-color: aqua;
}
#media:hover{
   
    background-color: blue;
    
}
